/* You can add global styles to this file, and also import other style files */
html {

}
body {
  overscroll-behavior-y: none;
  margin:0;
  padding:0;
  font-family: Verdana;
  overflow: hidden;

}

#content {
  overflow-y: scroll;
  height:100vh;
}
